.space-under {
    margin-bottom: 20px
}

.button-round {
    border-radius: 30px;
    padding: 2px 4px;
    width: 39px;
}

.icon-button-round {
    margin-top: 2px;
}

.paddin-menu-prontuario {
    padding-bottom: 35px;
}
.pronturario-botoes {
    background-color: #f4f7fa;
    height: 550px;
    border-radius: 5px;
}

#incluir-novo-prontuario {
    margin-top: 50px;
}
